<div class="entry">
  <form target="#">
    <label for="<%= "#{entry.name.parameterize}_status" %>"><%= entry.name %></label>
    <textarea id="<%= "#{entry.name.parameterize}_status" %>" cols="32" rows="8" ><%=  entry.status %></textarea>
  </form>
</div>