<div class="person">
  <form target="#">
    <label for="<%= "#{person.name.parameterize}_status" %>"><%= person.name %></label>
    <textarea id="<%= "#{person.name.parameterize}_status" %>" cols="32" rows="8" ><%=  person.status %></textarea>
  </form>
</div>