// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$radius: 20px;

$mask_light_a: rgba(255, 255, 255, 0.87654321);
$mask_dark_a: rgba(0, 0, 0, 0.061803399);

$sky_blue: rgb(118, 161, 203);

$blue_text: rgb(0, 0, 102);
$blue_text_a: rgba(0, 0, 102, 0.61803399);
$light: $sky_blue * 2;
$sky_light: $sky_blue * 1.061803399;
$sky_dark: $sky_blue * (1 - 0.061803399);

$border: $sky_blue * (1 + 0.314159265 * .61803399);
$border_a: rgba(255, 255, 255, 0.314159265 * .61803399);

$light_blue_text: $sky_blue * 0.61803399;

body {
  position: relative;
  color: rgb(0, 0, 102);
  font-family: Lucida, Verdana, Arial, Helvetica, sans-serif;
  background-color: $sky_blue;
  padding-bottom: 50px;
  min-width: 320px;
}

.backgroundsize body {
  background-image: url(dinkey.bottom.bg.jpg);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.entries {
  width: 300px;
  margin: 0 auto;
  .info {
    border: 2px solid black;
    border-radius: $radius;
    width: 256px;
    margin: 20px 0;
    padding: 5px 20px 30px 20px;
    background-color: $sky_dark;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    h1 {
      font-size: 1.2em;
      line-height: 1.6em;
      font-weight: bold;
      color: black;
      text-align: center;
      margin: 0 0 10px 0;
      padding: 0;
    }
    span {
      color: #333;
      font-size: 1.0em;
      line-height: 1.2em;
    }
  }
  .entry {
    display: inline-block;
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    width: 300px;
    min-width: 300px;
    height: 200px;
    min-height: 200px;
    &.hover {
      cursor: pointer;
      textarea {
        border-style: solid;
      }
    }
    form {
      height: 200px;
    }
    label {
      position: absolute;
      top: 4px;
      left: 0;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      width: 100%;
      min-width: 100%;
      height: 40px;
      min-height: 40px;
      color: $blue_text;
      font-size: 1.2em;
      line-height: 1.6em;
      text-align: center;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      &.focus {
        color: black;
      }
    }
    textarea {
      margin: 0 8px;
      padding: 50px 20px 30px 20px;
      border: 1px dotted $blue_text;
      width: 242px;
      height: 118px;
      border-radius: $radius;
      color: $blue_text;
      font-size: 0.8em;
      line-height: 1.4em;
      background-color: $sky_dark;
      overflow: hidden;
      cursor: pointer;
      &:focus {
        border: 1px solid black;
        background-color: $light;
        color: black;
        outline: none;
      }
    }
    .spinner {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 32px;
      width: 24px;
      height: 24px;
      border: none;
      margin: 0;
      padding: 0;
    }
    .result {
      display: none;
      position: absolute;
      bottom: 15px;
      left: 20px;
      width: 48px;
      border: none;
      margin: 0;
      padding: 0;
      font-size: 0.6em;
      line-height: 1.0em;
      color: $light_blue_text;
      text-align: center;
    }
    .save_button {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 20px;
      width: 48px;
      height: 24px;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}


.rgba {
  .info {
    background-color: $mask_dark_a;
  }
  .entry {
    &.hover {
      label {
        color: $blue_text;
        &.focus {
          color: black;
        }
      }
    }
    label {
      color: $blue_text_a;
      &.focus {
        color: black;
      }
    }
    textarea {
      background-color: $mask_dark_a;
      &:focus {
        background-color: $mask_light_a;
      }
    }
  }
}

$width: 310px;

@media screen and (min-width: 640px) {
  .entries {
    width: 300px + $width;
    .info {
      width: 256px + $width;
      h1 {
        font-size: 1.4em;
        line-height: 1.8em;
      }
      span {
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
    .entry {
      label {
        font-size: 1.4em;
        line-height: 1.8em;
      }
    }
  }
}


@media screen and (min-width: 960px) {
  .entries {
    width: 300px + 2 * $width;
    .info {
      width: 256px + 2 * $width;
      h1 {
        font-size: 1.6em;
        line-height: 2.0em;
      }
      span {
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
  }
  .entry {
    label {
      font-size: 1.4em;
      line-height: 1.8em;
    }
  }
}
