// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$radius: 10px;

$mask_light_a: rgba(255, 255, 255, 0.061803399);
$mask_dark_a: rgba(0, 0, 0, 0.061803399);

$sky_blue: rgb(118, 161, 203);

$blue_text: rgb(0, 0, 102);

$sky_light: $sky_blue * 1.061803399;
$sky_dark: $sky_blue * (1 - 0.061803399);

$border: $sky_blue * (1 + 0.314159265 * .61803399);
$border_a: rgba(255, 255, 255, 0.314159265 * .61803399);

body {
  position: relative;
  color: rgb(0, 0, 102);
  font-family: Lucida, Verdana, Arial, Helvetica, sans-serif;
  font-size: 61.8%;
  line-height: 1.618em;
  background-color: $sky_blue;
  padding-bottom: 50px;
  min-width: 320px;
}

.backgroundsize body {
  background-image: url(dinkey.bottom.bg.jpg);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.entry {
  margin: 10px auto 20px auto;
  width: 300px;
  display: block;
  cursor: pointer;
  label {
    color: $blue_text;
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px dotted $border;
    border-radius: $radius;
    background-color: $sky_light;
  }
  textarea {
    color: $blue_text;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin: 0 8px;
    border-top: none;
    border-radius: 0 0 $radius $radius;
    padding: 10px 20px 20px 20px;
    background-color: $sky_dark;
    overflow: hidden;
    &:focus {
      outline: 3px solid;
    }
  }
  &.hover {
    label {
      border-style: solid;
    }
    textarea {
      overflow: auto;
    }
  }
}

.rgba {
  .person {
    label {
      background-color: $mask_light_a;
    }
    textarea {
      background-color: $mask_dark_a;
    }
  }
}